.footer {
  background-color: #2c3e50;
  color: white;
  padding: 2rem 0;
  margin-top: auto; /* Para que el footer se quede abajo */
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.links a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #3498db;
}
