@import "./base/_reset.css";
@import "./base/_variables.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* Utilidades globales */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
